@use "sass:color";
@import "lib/styles/utils.module";

.container {
  :global .highcharts-axis {
    @include setFont(13px, 500);
  }

  :global .highcharts-axis-labels {
    @include setFont(12px, 500);
  }

  :global .highcharts-legend-item {
    @include setFont(13px, 500);
  }
}

.skeleton {
  background-color: color.adjust($color_primary, $alpha:-0.7);
  border-radius: 20px;
}