@import "lib/styles/utils.module";

.container {
  h3 {
    margin-bottom: 16px;
  }

  p {
    @include setFont(14px, 500);
    color: $color_black_4;
    margin: 0;
  }

  :global .MuiSvgIcon-root {
    width: 36px;
    height: 36px;
    fill: $color_black_4;
    margin: 4px 8px 0 8px;
  }
}

.input-container {
  display: flex;
  //align-items: center;
  margin-top: 12px;
}