@import "../../../../shared/styles/utils.module";

.box {
  @include laptopOrWider() {
    height: 100%;
    max-width: 100%;
  }

  :global .title {
    margin-bottom: 0;
  }
}

.helper-text {
  @include helperText();
}