{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "react",
    "@typescript-eslint",
    "prettier",
    "react-hooks",
    "only-warn"
  ],
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "react-hooks/exhaustive-deps": [
      "warn",
      {
        "additionalHooks": "useRecoilCallback"
      }
    ],
    "no-plusplus": "off",
    "react/no-this-in-sfc": "off",
    "react/function-component-definition": "off",
    "react/require-default-props": "off",
    "react/jsx-no-duplicate-props": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "react/no-array-index-key": "off",
    "no-param-reassign": "off",
    "prettier/prettier": [
      "off",
      {
        "endOfLine": "auto"
      }
    ],
    "comma-dangle": ["error", "only-multiline"]
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
