@import "../../styles/utils.module";

.box {
  position: sticky;
  display: flex;
  inset: 0;
  height: 65px;
  padding: 16px;
  border-bottom: #E7EBF0 solid 1px;
  background-color: white;
  z-index: 800;
}

.menu-button {
  padding: 0;
  width: 32px;
  min-width: 0;
  height: 32px;
  color: $color_primary;

  .menu-icon {
    font-size: 20px;
  }

  @include desktop() {
    display: none;
  }
}

.logo {
  height: 32px;
  min-width: 1px;
  cursor: pointer;
  margin-left: 8px;
}