@import "lib/styles/utils.module";

.container {
  display: flex;
  flex-direction: row;

  @include desktop() {
    max-height: 60px;
  }
}

.button {
  @include setFont(16px, 700);
  color: white;
  border-radius: 16px;
  padding: 16px 12px;
  width: 100%;

  & + & {
    margin-left: 16px;
  }
}