@import "lib/styles/utils.module";

.styled-mui-button {
  .MuiButton-startIcon {
    margin-left: 0;
  }

  .MuiButton-endIcon {
    margin-right: 0;
  }

  .MuiLoadingButton-startIconLoadingStart, .MuiLoadingButton-endIconLoadingStart {
    display: none;
  }

  .MuiSvgIcon-root {
    width: 24px;
    height: 24px;
  }

  .MuiLoadingButton-loadingIndicator {
    width: 24px;
    height: 24px;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-right: 8px;

    span {
      width: inherit !important;
      height: inherit !important;
    }
  }

  .MuiTouchRipple-root {
    color: white;
  }

  @include mobile() {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: $color_primary;
    }

    &.MuiLoadingButton-loading {
      &:hover {
        background-color: rgba(0, 0, 0, 0.12);
      }
    }
  }

}