@import "../../styles/utils.module";

.styled-mui-input {
  .MuiInputLabel-root {
    @include setFont($input_fontSize, 500);

    &.MuiInputLabel-outlined {
      transform: translate($input_padding, calc((#{$input_height} + #{$input_padding} * 2 - #{$input_fontHeight}) / 2)) scale(1); // 정 가운데
    }

    &.MuiInputLabel-outlined.MuiInputLabel-shrink {
      transform: translate($input_padding, calc(-#{$input_fontHeight} * 0.8 / 2)) scale(0.8); // 위쪽 border의 중간에 걸치도록
    }
  }

  .MuiOutlinedInput-root {
    @include setFont($input_fontSize, 500);
    border-radius: $input_borderRadius;

    .MuiOutlinedInput-input {
      height: $input_height;
      min-height: $input_height;
      padding: $input_padding;
      border-radius: inherit;
      color: $color_black_3;
    }

    .MuiOutlinedInput-notchedOutline {
      @include setFont($input_fontSize * 0.8, 500);
      transition: border-color 0.3s ease;

      legend {
        @include setFont($input_fontSize * 0.8, 500);
      }
    }

    &.MuiInputBase-adornedStart {
      padding-left: $input_padding;
    }

    &.MuiInputBase-adornedEnd {
      padding-right: $input_padding;
    }

    .MuiInputAdornment-root {
      @include setFont($input_fontSize, 700);
      color: $color_black_5;

      .MuiTypography-root {
        font: inherit;
        color: inherit;
      }
    }
  }

  .MuiFormHelperText-root {
    @include setFont(10px, 500);
    margin: 2px 0 0 $input-padding;
    color: $color_black_5;

    &.Mui-error {
      color: $color_error;
    }

    @include laptopOrWider() {
      @include setFont(11px, 500);
    }
  }
}